.product {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  z-index: 1;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product__rating {
  display: flex;
}

/* Create four equal columns that sits next to each other */
.product {
  flex: 25%;
  max-width: 100%;
}
@media (max-width: 430px) {
  .product > img {
    padding-top: 40px;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .product {
    flex: 40%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 758px) {
  .product {
    flex: 100%;
  }
}
